<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JooneTest/src/com/fxqyem/test/XOR_using_NeuralNet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fxqyem.test.XOR_using_NeuralNet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JooneTest"/>
</launchConfiguration>
